$sol-grey: #e5e5e5;
$sol-blue: #002fa7;
$sol-white: #efefef;

$max-width: 3px;

* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  background-color: $sol-grey;
}

.sol-img {
  width: 50px;
}

.hdr-a-wrap {
  display: flex;
  gap: 20px;
  align-items: end;
}

.hover-hdr {
  text-decoration: none;
  padding: 10px 15px;
  color: black;
  border-bottom: solid 1px $sol-grey;
  transition: border-bottom 300ms;
  &:hover {
    border-bottom: solid 1px $sol-blue;
  }
}

.blue-btn-hdr {
  text-decoration: none;
  padding: 10px 15px;
  color: black;
  border: solid 1px $sol-blue;
  border-radius: 6px;
  transition: all 300ms;
  &:hover {
    background-color: $sol-blue;
    color: white;
  }
}

.hero-img-wrap {
  background-color: $sol-white;
  padding: 100px 40px;
}

.hero-img {
  max-width: 100%;
}

.update-wrap {
  background-color: $sol-blue;
  color: $sol-white;
}

.update-text-wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 80px 0;
  max-width: 90%;
  margin: 0 auto;
}
