$sol-grey: #e5e5e5;
$sol-blue: #002fa7;
$sol-white: #efefef;
$sol-dark: #bbbcbc;

$max-width: 3px;

* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

p {
  line-height: 1.5;
}

header {
  padding: 20px 30px 15px 20px;
  background-color: #e5e5e5;
}

.hdr-wrap {
  display: flex;
  max-width: 1140px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.sol-img {
  width: 50px;
}

.hdr-a-wrap {
  display: flex;
  gap: 10px;
  align-items: end;
}

.hover-hdr {
  text-decoration: none;
  padding: 10px 15px;
  color: black;
  border-bottom: solid 1px $sol-grey;
  transition: border-bottom 300ms;
  font-size: small;
  &:hover {
    border-bottom: solid 1px $sol-blue;
  }
}

.blue-btn-hdr {
  text-decoration: none;
  padding: 10px 15px;
  color: black;
  border: solid 1px $sol-blue;
  border-radius: 6px;
  transition: all 300ms;
  font-size: small;
  &:hover {
    background-color: $sol-blue;
    color: white;
  }
}

.hero-img-wrap {
  background-color: $sol-white;
  padding: 100px 40px;
}

.hero-img {
  max-width: 1140px;
  display: block;
  margin: 0 auto;
}

.update-wrap {
  background-color: $sol-blue;
  color: $sol-white;
}

.update-text-wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 100px 20px;
  max-width: 1140px;
  margin: 0 auto;
}

.update-heading {
  font-size: 2.5rem;
  font-weight: 500;
}

.update-text {
  font-size: 1.1rem;
}

.update-a {
  color: $sol-dark;
  transition: color 200ms;
  &:hover {
    color: #efefef;
  }
}

.start-wrapper {
  padding: 80px 40px;
}

.start-text-and-pic {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1140px;
  margin: 0 auto;
}

.start-text-and-button {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.start-text {
  font-size: 2.5rem;
  font-weight: 500;
  padding-bottom: 40px;
}

.blue-a {
  color: #002fa7;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.start-a-btn {
  padding: 15px 40px;
  background-color: $sol-dark;
  color: black;
  border-radius: 4px;
  width: max-content;
  transition: all 300ms;
  &:hover {
    color: #efefef;
    background-color: #002fa7;
  }
}

.start-pic {
  max-width: 220px;
  height: auto;
}

.evolve-wrap-center {
  max-width: 1140px;
  margin: 0 auto;
}

.evolve-wrapper {
  background-color: $sol-grey;
  padding: 80px 20px;
  text-align: end;
}

.evolve-header {
  font-size: 2.5rem;
  font-weight: 500;
  padding-bottom: 40px;
}

.evolve-text {
  font-size: 1.1rem;
}

.twitt-wrap {
  background-color: $sol-grey;
  padding: 80px 20px;
}

.twitt-text-wrap {
  max-width: 1140px;
  margin: 0 auto;
}

.twitt-header {
  font-size: 2.5rem;
  font-weight: 500;
  padding-bottom: 40px;
}

.twitt-p {
  margin-bottom: 30px;
  font-size: 1.1rem;
}

.twitt-ul {
  padding-left: 40px;
  font-size: 1.1rem;
  & > li:not(:last-child) {
    margin-bottom: 30px;
  }
}

.youtube-wrapper {
  padding: 80px 20px;
  max-width: 1140px;
  margin: 0 auto;
}

.youtube-header {
  font-size: 2.5rem;
  font-weight: 500;
  padding-bottom: 40px;
}

.youtube-p {
  padding-bottom: 30px;
  font-size: 1.1rem;
}

.youtube-list {
  padding-left: 40px;
  & > li {
    margin-bottom: 30px;
    font-size: 1.1rem;
  }
}

.iframe-wrap {
  position: relative;
  padding-top: 56%;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.foot-wrap {
  background-color: $sol-dark;
  padding: 80px 40px 50px 40px;
}

.foot-text {
  max-width: 1100px;
  margin: 0 auto;
}

.foot-top {
  display: flex;
  flex-direction: row;
}

.col-container {
  display: flex;
  justify-content: center;
  flex: 1;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 15px;
  & > a {
    color: black;
    font-size: 0.9rem;
    max-width: 140px;
  }
}

.foot-bottom {
  text-align: center;
  margin-top: 10px;
  font-size: 0.7rem;
  color: black;
  & > p > a {
    color: black;
  }
}
