$sol-grey: #e5e5e5;
$sol-blue: #002fa7;
$sol-white: #efefef;
$sol-dark: #bbbcbc;

$max-width: 3px;

* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

p {
  line-height: 1.5;
}

header {
  padding: 20px 30px;
  background-color: #e5e5e5;
}

.hdr-wrap {
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.sol-img {
  width: 50px;
}

.hdr-a-wrap {
  display: flex;
  gap: 20px;
  align-items: end;
}

.hover-hdr {
  text-decoration: none;
  padding: 10px 15px;
  color: black;
  border-bottom: solid 1px $sol-grey;
  transition: border-bottom 300ms;
  &:hover {
    border-bottom: solid 1px $sol-blue;
  }
}

.blue-btn-hdr {
  text-decoration: none;
  padding: 10px 15px;
  color: black;
  border: solid 1px $sol-blue;
  border-radius: 6px;
  transition: all 300ms;
  &:hover {
    background-color: $sol-blue;
    color: white;
  }
}

.hero-img-wrap {
  background-color: $sol-white;
  padding: 100px 40px;
}

.hero-img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.update-wrap {
  background-color: $sol-blue;
  color: $sol-white;
}

.update-text-wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 80px 40px;
  max-width: 1140px;
  margin: 0 auto;
}

.update-heading {
  font-size: 2.5rem;
  font-weight: 500;
}

.update-text {
  font-size: 1.1rem;
}

.update-a {
  color: $sol-dark;
  transition: color 200ms;
  &:hover {
    color: #efefef;
  }
}

.start-wrapper {
  padding: 80px 40px;
}

.start-text-and-pic {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1140px;
  margin: 0 auto;
}

.start-text-and-button {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.start-text {
  font-size: 2.5rem;
  font-weight: 500;
  padding-bottom: 40px;
}

.blue-a {
  color: #002fa7;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.start-a-btn {
  padding: 15px 40px;
  background-color: $sol-dark;
  color: black;
  border-radius: 4px;
  width: max-content;
  transition: all 300ms;
  &:hover {
    color: #efefef;
    background-color: #002fa7;
  }
}

.start-pic {
  width: 220px;
}

.evolve-wrap-center {
  max-width: 1140px;
  margin: 0 auto;
}

.evolve-wrapper {
  background-color: $sol-grey;
  padding: 80px 40px;
  text-align: end;
}

.evolve-header {
  font-size: 2.5rem;
  font-weight: 500;
  padding-bottom: 40px;
}

.evolve-text {
  font-size: 1.1rem;
}

.twitt-wrap {
  background-color: $sol-grey;
  padding: 80px 40px;
}

.twitt-text-wrap {
  max-width: 1140px;
  margin: 0 auto;
}

.twitt-header {
  font-size: 2.5rem;
  font-weight: 500;
  padding-bottom: 40px;
}

.twitt-p {
  margin-bottom: 30px;
  font-size: 1.1rem;
}

.twitt-ul {
  padding-left: 40px;
  font-size: 1.1rem;
  & > li:not(:last-child) {
    margin-bottom: 30px;
  }
}
